# analyse_it2v1.yaml
selectivity_csv_dir: unit_selectivity          # where the 4 CSVs live
category: places                                # one of: animal, face, object, place
top_unit_selection: percentage   # 'percentile' or 'percentage'
top_frac: 0.05                    # For 'percentage' mode: 0.1 = top 10%, percentile mode e.g., 95
category_images: categ_images_testset/places             # 20 images of that category
pixels_per_degree: None                          # set to None if you don’t care
output_dir: it2v1_analysis
gaussian_sigma: 1
model:
  source: cornet
  name: cornet_rt
  weights: pretrained
  time_steps: 5
  device: auto
