subdir: "cornet_rt4_std_noise/"
tasks:
  - function: categ_corr_lineplot
    parameters:
      main_dir: "data/haupt_stim_activ/damaged/cornet_rt_4steps/"
      layers: ["V1","V2","V4","IT"]
      damage_type: "noise"
      categories: ["total"]
      metric: "observed_difference"
      verbose: 0
  - function: categ_corr_lineplot
    parameters:
      main_dir: "data/haupt_stim_activ/damaged/cornet_rt_4steps/"
      layers: ["V1","V2","V4","IT"]
      damage_type: "noise"
      categories: ["total"]
      metric: "avg_within"
      verbose: 0
  - function: categ_corr_lineplot
    parameters:
      main_dir: "data/haupt_stim_activ/damaged/cornet_rt_4steps/"
      layers: ["V1","V2","V4","IT"]
      damage_type: "noise"
      categories: ["total"]
      metric: "avg_between"
      verbose: 0
  - function: "plot_avg_corr_mat"
    parameters:
      layers: ["V1"]
      damage_type: "noise"
      damage_levels: ["0.0", "1.0", "2.0", "4.0"] # List of str
      main_dir: "data/haupt_stim_activ/damaged/cornet_rt_4steps/"
  - function: "plot_avg_corr_mat"
    parameters:
      layers: ["V2","IT"]
      damage_type: "noise"
      damage_levels: ["0.0", "1.0", "2.0", "4.0"] # List of str
      main_dir: "data/haupt_stim_activ/damaged/cornet_rt_4steps/"
  - function: "plot_categ_differences"
    parameters:
      layers: ["V1","V4"]
      damage_type: "noise"
      damage_levels: ["0.0", "1.0", "2.0", "4.0"] # List of str
      main_dir: "data/haupt_stim_activ/damaged/cornet_rt_4steps/"
      mode: "dirs"
      comparison: false